
.container {
    display:flex;
    flex-wrap:wrap;
}
.item.header {
    background-color: yellow;
}
.item.foo {
    cursor: grab;
}
.higcharts-container {
    vertical-align:top;
}

div.resizable { background: cyan; position: relative; }
div.resizer { width: 10px; height: 10px; background: blue; position:absolute; right: 0; bottom: 0; cursor: se-resize; }

.item {
    cursor:default;
    margin: 2px;
    background-color:red;
    -webkit-align-content: center;
    align-content: center;
}