
.container {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
}

.higcharts-container {
    vertical-align:top;
}

div.resizable {position: relative; }
div.resizer { width: 10px; height: 10px; background: blue; position:absolute; right: 0; bottom: 0; cursor: se-resize; }

.content {
    -webkit-align-content: center;
    align-content: center;
    cursor:default;
}
.item {
    cursor:default;
    margin: 2px;
    -webkit-align-content: center;
    align-content: center;
}

.table1 table {
    margin-left:20px;
    border: 1px solid black;
    border-collapse: collapse;
}
.table1 td {
    padding: 3px;
    border: 1px solid black;
    border-collapse: collapse;
}
.table1 table .tr2 {
    background-color: rosybrown;
}